.divLading {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh; /* Esto asegurará que el div abarque toda la altura de la pantalla */
    /* Otros estilos que necesites */
    background-image: url('./../../../assets/image-group-dog-cats-photography\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
.landingItems{
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f9f9f9;
    opacity: 0.9;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid grey;

}
.landingButton{
    overflow: hidden;
    color: #ffff;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #323232;
    border: none;
    box-shadow: inset 0 0 0 0 #ffff;
    transition: ease-out .4s;
    outline: none;
    font-weight: 500;
}
.landingButton:hover{
    box-shadow: inset 100px 0 0 0 #DEC2B1;
    color: black;
}
.description{
    font-size: 1.2rem;
}
.title{
    font-family: 'Poppins';
    font-size: 30px;
    margin-bottom: 15px;
}
