.containerForm{
    display: flex;
    align-items: start;
    margin-top: 40px;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}
.containerInput{
    position: relative;
    display: flex;
    align-items: center;
}
.span{
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: red;
}
.input{
    border: 1px solid black;
}
.messageError{
    color: red;
    margin-top: 5px;
}
.inputInvalid{
    border: 1px solid red;
}