.containerForm {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    text-align: center; /* Centra el contenido del formulario */
    margin-bottom: 20px; /* Añade un margen inferior para separar el formulario del select */
    width: 370px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;
    color: rgb(17, 17, 17);
    font-weight: 700;
    margin-top: 20px;
    margin-left: 12vw;
    height: fit-content;
    margin-right: 1.5vw; /* Añade un margen inferior para separar el formulario del select */
    background-color: #f8f8f8;
  }
  
  .divInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Añade un espacio entre los elementos */
    
  }
  
  .selectTemperaments {
    text-align: center; /* Centra el contenido del select */
  }
.option{
    border-radius: 5px;
}

.buttonSubmit{
  background-color: rgb(20, 20, 16);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  
  &:hover {
  background-color: rgb(238, 201, 99);
  }
  &:disabled {
  background-color: #ccc; // Cambia el color de fondo cuando está deshabilitado
  cursor: not-allowed; // Cambia el cursor cuando está deshabilitado
  opacity: 0.6; // Reduce la opacidad para indicar que está deshabilitado
  }
}

.spanTemperament{
  display: inline-block;
}

.buttonOptions{
  cursor: pointer;
}