.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    height: auto;
    //background-color: #F9F6EF;
   // background: linear-gradient(to bottom, #F9F6EF, #f9f9f9 );
    justify-content: space-around;
}
/*.parent{
    display: flex;
    position: relative;
}*/

.filterContainer{
   /* margin-left: 15px;*/
  /*  margin-top: 15px;*/
  display: flex;
    padding-left: 0;
    /*position: absolute;*/
    position: relative;
   /* top:0;
    left:0;
    z-index: 9999;*/
}
.opaque {
    transition: all 0.3s ease;
    opacity: 0.4;
}