.sectionContainer{
  display: grid;
  grid-template-columns: 20% 80%;
}
@media screen and (width < 1026px){
  .sectionContainer{
    grid-template-columns: 1fr;
  }
  
}
.cardsContainer{
  overflow-x: hidden;
  position: relative;
  transition: opacity 0.3s ease;
}
.opaque {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
}
.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}