.navContainer{
    display: flex;
    flex: 1;
    justify-content: space-around;
    min-height: 160px;
    padding: 0px 14px;
    align-items: center;
    color: black;
   background-color: rgb(219, 215, 181);
   margin: 0;
}
.logo{
    display: flex;
    flex: 1;
    height: 160px;
    padding-left: 25px;
}
.secondSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-left: 150px;

    .linkNav{
        text-decoration: none;
        color: inherit;
        
    }
    .itemNav{
        &:hover{
            color: white;
          }
    }
}

.search{
    padding-right: 25px;
}

.containerOptions{
    display: flex;
    flex-direction: column;
}

.select{
    padding-bottom: 5px;
    color: rgba(7, 7, 7, 0.637);
    border-radius: 5px;
    cursor: pointer;
}

.option{
    color:black;
}