.navContainer{
    /*background: linear-gradient(to right, #dfbba4, #DDD0C8 );*/
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 9;
}
@media screen and (max-width: 991px){
    .navbarBrand{
        display: none;
    }
}
.collapseNavbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}
.imgHuella{
    width: 60px;
    height: 60px;
    color: #f0d8b8;
}
.link{
    text-decoration: none;
}
.spanItem{
    color: #e1b175;
    font-weight: 500;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.5s;
}
.spanItem:hover{
    color: #e1b175;
    
}
.spanItem::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #e1b175;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.spanItem:hover::after{
    transform: scaleX(1);

}
